.wcec_hidden {
    display: none !important;
}

.wcec-action-wrap {
    margin-bottom: 10px;
}

.wcec-variations-options-wrapper {
	margin-bottom: 10px;
	margin-top: 10px;
}

.wcec_variation_sold_by_weight_option {
	margin-top: 10px !important;
	display: block !important;
}

/* Toggle Button */
.wcec-toggle {
	/* height: 40px !important; */
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0 !important;
	outline: none !important;
	box-shadow: none !important;
	cursor: pointer;
	margin: 10px;
}


/* To create surface of toggle button */
.wcec-toggle:after {
	content: '';
	width: 40px;
	height: 16px;
	display: inline-block;
	background: rgba(196, 195, 195, 0.55);
	border-radius: 10px;
	clear: both;
}



/* Contents before checkbox to create toggle handle */
.wcec-toggle:before {
	content: '';
	width: 20px !important;
	height: 20px !important;
	display: block;
	position: absolute;
	left: 0;
	top: -3px;
	border-radius: 10px;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* Shift the handle to left on check event */
.wcec-toggle:checked:before {
	left: 20px;
	top: 0px;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* Background color when toggle button will be active */
.wcec-toggle:checked:after {
	background: #16a085;
}

/* Transition for smoothness */
.wcec-toggle,
.wcec-toggle:before,
.wcec-toggle:after,
.wcec-toggle:checked:before,
.wcec-toggle:checked:after {
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
}

.wcec-toggle-large {
	height: 40px !important;
}

.wcec-toggle-large:after {
	width: 60px;
	height: 30px;
	/* border-radius: 30px; */
}

.wcec-toggle-large:before {
	width: 34px !important;
	height: 34px !important;
	top: -3px;
}

.wcec-toggle-large:checked:before {
	left: 34px;
	top: 0px;
}